{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axborot tizimlari</title>

    <!-- link bootstrap style -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2/dist/css/bootstrap.min.css' %}">

    <!-- link fontawesome style -->
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.3.0-web/css/all.min.css' %}">

    <!-- link style css  -->
    <link rel="stylesheet" href="{% static 'Sass/style.css' %}">
</head>
<body>

    <div class="container-fluid Elon__backCon">
        <div class="row position-relative d-flex flex-column justify-content-between">
            <!-- start header  -->
            <header class="col-12 p-0 about__header">

                <!-- start navbar  -->
                <nav class="nav navbar-expand-lg d-flex align-items-center about__head">
                    <div class="container">
                        <div class="row d-flex flex-row justify-content-between align-items-center">

                            <!-- navbar logo  -->
                            <div class="col-10 col-sm-4 nav__logo__con d-flex justify-content-start align-items-center">
                                <img src="{% static 'Images/fotor_2023-3-18_9_41_34-removebg-preview.png' %}" alt="logo" class="nav__img"></img>
                                <span class="nav__title">Homes.com</span>
                            </div>

                            <!-- menyu  -->
                            <div class="col-sm-8 menyu d-flex justify-content-sm-end align-items-md-center">
                                <ul class="list-group d-flex flex-column flex-sm-row list__group">
                                    <li class="list-group-item active"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="list-group-item"><a href="{% url 'region'  'Samarqand' %}">City</a></li>
                                    {% if user.is_authenticated %}
  
                                    <li class="list-group-item"><a  href="{% url 'my_homes' user.pk %}">E'lonlarim</a></li>
                                    <li class="list-group-item"><a  href="{% url 'create' %}">Sotish</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-2 col-mg-0 menyu__res__bars d-flex d-md-none flex-column justify-content-center align-items-end">
                                <div class="M__bars__con"></div>
                                <div class="M__bars__con"></div>
                                <div class="M__bars__con"></div>
                            </div>
                            <div class="menyu__modal"></div>
                        </div>
                    </div>
                </nav>
                <!-- end navbar  -->

            </header>
            <!-- end header  -->

            <!-- start section  -->
            <section class="p-0 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 Product p-0">
                            <div class="P__top d-grid">
                                <div class="p__img__block">
                                    <img src="{{ data.photo.url }}" alt="img" class="p_img">
                                </div>
                                <div class="Product__info d-flex flex-column">
                                    <ul class="list-group d-grid">
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Nomi: </span><span class="p__list__subtitle">{{ data.title }}</span></p>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Telefon: </span><span class="p__list__subtitle">{{ data.user.phone }}</span></p>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Narxi: </span><span class="p__list__subtitle">${{ data.price }}</span></p>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Manzil: </span><span class="p__list__subtitle">{{ data.address }}</span></p>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Shahar: </span><span class="p__list__subtitle">{{ data.city }}</span></p>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Xonlar soni: </span><span class="p__list__subtitle">{{ data.num_of_rooms }} ta xona</span></p>
                                        </li>
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Yer maydoni: </span><span class="p__list__subtitle">{{ data.area }} kv.m</span></p>
                                        </li>
                                        {% if data.description != None %}
                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Malumot: </span><span class="p__list__subtitle">{{ data.description }}</span></p>
                                        </li>
                                        {% endif %}

                                        <li class="list-group-item">
                                            <p class="p__list"><span class="p__list__title">Bog'lanish: </span><span class="p__list__subtitle"> <br>Email : {{ data.user.email }} <br>Phone : {{ data.user.phone_number }}</span></p>
                                        </li>
                                    </ul>
                                    {% if user.id == data.user.id %}
                                    <div class=" d-flex justify-content-start align-items-center"><a href="{% url 'update' data.pk %}" class="settings__link">O'zgartirish</a></div>
                                    <div class=" d-flex justify-content-start align-items-center"><a href="{% url  'delete' data.pk %}" class="settings__link">O'chirish</a></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="p__bottom d-flex flex-column">
                                <h3 class="izox">Xaridorlar fikrlari</h3>
                                <div class="izox__list d-grid">
                                    <div class="d-flex flex-column User__info__group">
                                        <div class="izox__user__info d-flex flex-column">
                                            <p class="izox__userName">Berdiqulov Olmasbek</p>
                                            <span class="izox__subtitle">Yaxshi, lekin narxi juda qimmat ekan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, nesciunt.</span>
                                            <span class="izox__dataTime">02.05.2023 10:37</span>
                                        </div>
                                        <div class="izox__user__info d-flex flex-column">
                                            <p class="izox__userName">Axmedov Alisher</p>
                                            <span class="izox__subtitle">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est sapiente officia odit quia nam eius voluptate illo perferendis temporibus voluptates.</span>
                                            <span class="izox__dataTime">02.05.2023 10:37</span>
                                        </div>
                                    </div>
                                    <div class="izox__ipsum d-flex flex-column">
                                        <textarea name="text1" id="Description__in" class="form-control" maxlength="100" placeholder="Izoh..."></textarea>
                                        <div class="d-flex justify-content-end">
                                            <button type="submit" class="s__i__buttun">Yuborish</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section  -->

            <!-- footer  -->
            <footer class=" about__footer col-12">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-2 col-sm-2 col-md-4 d-flex align-items-center"><img src="{% static 'Images/fotor_2023-3-18_9_41_34-removebg-preview.png' %}" alt="" class="logo"></div>
                        <p class="col-7 col-sm-6 col-md-4 footer__subtitle">2023 Homes.com Group</p>
                        <div class="col-3 col-sm-4 col-md-4 d-flex justify-content-end align-items-center about__footer__icon"> 
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-telegram"></i>
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    
    <!-- link bootstrap js  -->
    <script src="{% static 'bootstrap-5.0.2/dist/js/bootstrap.min.js' %}"></script>
    <!-- link fontawesome js  -->
    <script src="{% static 'fontawesome-free-6.3.0-web/js/all.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('.list__group li').click(function(){
            $('.list__group li').removeClass("active");
            $(this).addClass("active");
        });
    </script>

    <!-- link main js  -->
    <script src="{% static 'Js/main.js' %}"></script>
</body>
</html>

<!--
{% block content %}
    <div>
    	<h1>{{ data.title }}</h1>
    	<img src="{{ data.photo.url }}" alt="photo">
		<h5> {{ data.city }}</h5>
    	<h5>{{ data.address }}</h5>
    	
		<p> Xonalar soni : {{ data.num_of_rooms }}<br>
			Uy maydoni : {{ data.area }} <br>
			{% if data.description != None %}
			 {{ data.description }} 
			{% endif %} </p>

    	{% if data.user.id == user.id %}
    	<a href="{% url 'delete' data.pk %}">Delete</a>|
    	<a href="{% url 'update' data.pk %}">Update</a>
    	{% endif %}
   		    
    </div>
    	

{% endblock content %}