{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Axborot tizimlari</title>
    <!-- link bootstrap style -->
   
   
   <link rel="stylesheet" href="{% static 'fontawesome-free-6.3.0-web/css/all.min.css' %}">
    
    <link rel="stylesheet" href="{% static 'Sass/style.css' %}">
    <link rel="stylesheet" href = "{% static 'bootstrap-5.0.2/dist/css/bootstrap.min.css' %}">
    
    
</head>
<body>

    <div class="container-fluid Elon__backCon">
        <div class="row position-relative d-flex flex-column justify-content-between height__res">
            <!-- start header  -->
            <header class="col-12 p-0 about__header">

                <!-- start navbar  -->
                <nav class="nav navbar-expand-lg d-flex align-items-center about__head">
                    <div class="container">
                        <div class="row d-flex flex-row justify-content-between align-items-center">

                            <!-- navbar logo  -->
                            <div class="col-10 col-sm-4 nav__logo__con d-flex justify-content-start align-items-center">
                                <a href="{% url 'home' %}">
                                <img src="{% static 'Images/fotor_2023-3-18_9_41_34-removebg-preview.png' %}" alt="logo" class="nav__img"></img>
                                <span class="nav__title" style="text-decoration:none;   ">Homes.com</span>
                                </a>
                            </div>

                            <!-- menyu  -->
                            <div class="col-sm-8 menyu d-flex justify-content-sm-end align-items-md-center">
                                <ul class="list-group d-flex flex-column flex-sm-row list__group">
                                    <li class="list-group-item active"><a href="{% url 'home' %}">Home</a></li>
                                    <li class="list-group-item"><a href="{% url 'region'  'Samarqand' %}">City</a></li>
                                    {% if user.is_authenticated %}
  
                                    <li class="list-group-item"><a  href="{% url 'my_homes' user.pk %}">E'lonlarim</a></li>
                                    <li class="list-group-item"><a  href="{% url 'create' %}">Sotish</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-2 col-mg-0 menyu__res__bars d-flex d-md-none flex-column justify-content-center align-items-end">
                                <div class="M__bars__con"></div>
                                <div class="M__bars__con"></div>
                                <div class="M__bars__con"></div>
                            </div>
                            <div class="menyu__modal"></div>
                        </div>
                    </div>
                </nav>
                <!-- end navbar  -->

            </header>
            <!-- end header  -->

            <!-- start section  -->
            <section class="p-0 col-12">
                <div class="container">
                    <div class="row">
                        <div class="E__FGroup p-0">
                            <h2 class="FG__title">E'lon berish</h2>
                            <form method = "POST" class="d-flex flex-column">
                                {% csrf_token %} 
                                
                                <div class="formChildGR">
                                    {{ form.as_p }}
                                
                                </div>
                                <div class="s__i__submit d-flex justify-content-center">
                                    <a href="{% url 'home' %}" class="s__i__buttun" style="margin-right: 15px; text-decoration:none">Home</a>
                                    <button type="submit" class="s__i__buttun">Saqlash</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section  -->

            <!-- footer  -->
            <footer class=" about__footer col-12">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-2 col-sm-2 col-md-4 d-flex align-items-center"><img src="{% static 'Images/fotor_2023-3-18_9_41_34-removebg-preview.png' %}" alt="" class="logo"></div>
                        <p class="col-7 col-sm-6 col-md-4 footer__subtitle">2023 Homes.com Group</p>
                        <div class="col-3 col-sm-4 col-md-4 d-flex justify-content-end align-items-center about__footer__icon"> 
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-telegram"></i>
                            <i class="fab fa-facebook-f"></i>
                        </div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    
    <!-- link bootstrap js  -->
    <script src="{% static 'bootstrap-5.0.2/dist/js/bootstrap.min.js' %}"></script>
    <!-- link fontawesome js  -->
    <script src="{% static 'fontawesome-free-6.3.0-web/js/all.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('.list__group li').click(function(){
            $('.list__group li').removeClass("active");
            $(this).addClass("active");
        });
    </script>

    <!-- link main js  -->
    <script src="{% static 'Js/main.js' %}"></script>
</body>
</html>

