{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
    	<h1>{{ data.title }}</h1>
    	<img src="{{ data.photo.url }}" alt="photo">
		<h5> {{ data.city }}</h5>
    	<h5>{{ data.address }}</h5>
    	
		<p> Xonalar soni : {{ data.num_of_rooms }}<br>
			Uy maydoni : {{ data.area }} <br>
			{% if data.description != None %}
			 {{ data.description }} 
			{% endif %} </p>

    	{% if data.user.id == user.id %}
    	<a href="{% url 'delete' data.pk %}">Delete</a>|
    	<a href="{% url 'update' data.pk %}">Update</a>
    	{% endif %}
   		    
    </div>
    	

{% endblock content %}