{% extends 'base.html' %}
{% load static %}

{% block title %}SignUp{% endblock title %}

{% block content %}

<div class="SignU__modal d-flex align-items-center justify-content-center">
  <form  class="d-flex flex-column justify-content-center align-items-center" method="POST">
    {% csrf_token %}

      <div class="Input__group d-flex flex-column justify-content-center align-items-center">
          <input type="text" placeholder="Username" required, name="uname">
          <input type="tel" placeholder="(+998) ** *** ** **" required, name="pnum">
          <input type="text" placeholder="Firstname" required, name="fname">
          <input type="text" placeholder="Lastname" required, name="lname">
          <input type="email" placeholder="Email" required, name="email">
          <input type="password" placeholder="Password" required, name="password">
      </div>

      <div class="button__group d-flex justify-content-end align-items-center">
          <a href="{% url 'home' %}" class="UP__cancel">Cancel</a>
          <input type="submit" value="Send">
      </div>

</div>    


{% endblock content %}