{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignUp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "Sass/style.css" %}">
    
</head>

  <body>

<div class="SignU__modal d-flex align-items-center justify-content-center">
  <form  class="d-flex flex-column justify-content-center align-items-center" method="POST">
    {% csrf_token %}

      <div class="Input__group d-flex flex-column justify-content-center align-items-center">
          <input type="text" placeholder="Username" required, name="uname">
          <input type="tel" placeholder="(+998) ** *** ** **" required, name="pnum">
          <input type="text" placeholder="Firstname" required, name="fname">
          <input type="text" placeholder="Lastname" required, name="lname">
          <input type="email" placeholder="Email" required, name="email">
          <input type="password" placeholder="Password" required, name="password">
      </div>

      <div class="button__group d-flex justify-content-end align-items-center">
          <a href="{% url 'home' %}" class="UP__cancel">Cancel</a>
          <input type="submit" value="Send">
      </div>

</div>    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="{% static 'Js/main.js' %}"></script>

</body>

</html>

